{# Page Loader - Shows while loading assets #}
<div class="page-loader" id="pageLoader" aria-label="Loading Ferni">
  <div class="loader-content">
    <div class="loader-orb">
      <div class="loader-waveform">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <span class="loader-text">Loading Ferni...</span>
  </div>
</div>
