# Dependencies
node_modules/

# iOS build artifacts
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
*.ipa

# Capacitor
.capacitor/

# Logs
*.log

# OS files
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

