openapi: 3.0.3
info:
  title: Ferni Developer Platform API
  description: |
    Build AI-powered voice experiences with human-like conversational capabilities.
    Create custom personas, manage API access, configure webhooks, and monitor usage.

    ## Getting Started

    1. Sign up at [developers.ferni.ai](https://developers.ferni.ai)
    2. Create a test API key in the dashboard
    3. Make your first API call
    4. Create a persona and submit for review
    5. Upgrade to live API key for production

    ## Authentication

    Include your API key as a Bearer token:
    ```
    Authorization: Bearer ferni_live_xxxxxxxxxxxxx
    ```

    ### Key Types
    | Type | Prefix | Usage |
    |------|--------|-------|
    | Live | `ferni_live_` | Production, billed |
    | Test | `ferni_test_` | Development, free tier |

    ## Rate Limits
    | Tier | Requests/min | Sessions |
    |------|--------------|----------|
    | Free | 100 | 5 |
    | Pro | 500 | 25 |
    | Enterprise | Custom | Custom |

    ## Webhook Signatures

    Verify webhook authenticity using HMAC-SHA256:
    ```
    signature = HMAC-SHA256(secret, timestamp + "." + payload)
    ```

    Header format: `X-Webhook-Signature: t=1234567890,v1=abc123...`

  version: 2.0.0
  contact:
    name: Ferni Developer Support
    email: developers@ferni.ai
    url: https://developers.ferni.ai
  license:
    name: Proprietary

servers:
  - url: https://api.ferni.ai
    description: Production
  - url: https://api-staging.ferni.ai
    description: Staging

tags:
  - name: API Keys
    description: Manage API keys for authentication
  - name: Personas
    description: Create and manage AI personas
  - name: Webhooks
    description: Real-time event notifications
  - name: Analytics
    description: Usage statistics and insights
  - name: MCP Servers
    description: Register external Model Context Protocol servers
  - name: Custom Tools
    description: Create custom tools for your personas
  - name: Activities
    description: Track custom activities and events
  - name: Workflows
    description: Create multi-step automation workflows
  - name: OAuth
    description: Manage OAuth providers and tokens

security:
  - bearerAuth: []

paths:
  # ============================================================================
  # API KEYS
  # ============================================================================
  /api/v1/developers/keys:
    get:
      tags: [API Keys]
      summary: List API keys
      description: Returns all API keys (prefix only for security).
      operationId: listApiKeys
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [API Keys]
      summary: Create API key
      description: |
        Creates a new API key. The full key is only shown once.
        Maximum 10 keys per account.
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [live, test]
                name:
                  type: string
                  maxLength: 100
            example:
              type: live
              name: Production App
      responses:
        '201':
          description: Key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  key:
                    type: object
                    properties:
                      id:
                        type: string
                      apiKey:
                        type: string
                        description: Full key - save now!
                      type:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                  warning:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/developers/keys/{keyId}:
    delete:
      tags: [API Keys]
      summary: Revoke API key
      operationId: revokeApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/developers/keys/{keyId}/rotate:
    post:
      tags: [API Keys]
      summary: Rotate API key
      description: Revokes old key and generates new one.
      operationId: rotateApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  key:
                    type: object
                    properties:
                      id:
                        type: string
                      apiKey:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                  warning:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PERSONAS
  # ============================================================================
  /api/v1/developers/personas:
    get:
      tags: [Personas]
      summary: List personas
      operationId: listPersonas
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  personas:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonaSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Personas]
      summary: Create persona draft
      description: |
        Creates a persona draft. Must pass validation before submission.

        **Lifecycle:** draft -> submitted -> approved -> published
      operationId: createPersona
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manifest]
              properties:
                manifest:
                  $ref: '#/components/schemas/PersonaManifest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/developers/personas/{personaId}:
    get:
      tags: [Personas]
      summary: Get persona details
      operationId: getPersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaFull'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Personas]
      summary: Update persona
      description: Only drafts and rejected personas can be updated.
      operationId: updatePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manifest]
              properties:
                manifest:
                  $ref: '#/components/schemas/PersonaManifest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Personas]
      summary: Delete persona
      description: Only drafts can be deleted.
      operationId: deletePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/developers/personas/{personaId}/validate:
    post:
      tags: [Personas]
      summary: Validate persona
      operationId: validatePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
                  readyToSubmit:
                    type: boolean

  /api/v1/developers/personas/{personaId}/submit:
    post:
      tags: [Personas]
      summary: Submit for review
      operationId: submitPersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'

  # ============================================================================
  # WEBHOOKS
  # ============================================================================
  /api/v2/developers/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Webhooks]
      summary: Create webhook
      description: |
        **Event Types:**
        - `session.started` - Voice session began
        - `session.ended` - Session completed
        - `session.error` - Error occurred
        - `persona.switched` - Persona handoff
        - `tool.executed` - Tool was called
        - `transcript.ready` - Transcript available
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, events]
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEventType'
                personaId:
                  type: string
                enabled:
                  type: boolean
                  default: true
            example:
              name: Session Events
              url: https://api.yourapp.com/webhooks/ferni
              events: [session.started, session.ended]
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'

  /api/v2/developers/webhooks/{webhookId}:
    get:
      tags: [Webhooks]
      summary: Get webhook
      operationId: getWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Webhooks]
      summary: Update webhook
      operationId: updateWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEventType'
                enabled:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'

    delete:
      tags: [Webhooks]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/webhooks/{webhookId}/test:
    post:
      tags: [Webhooks]
      summary: Send test event
      operationId: testWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      statusCode:
                        type: integer
                      executionTimeMs:
                        type: integer
                      error:
                        type: string
                      payload:
                        $ref: '#/components/schemas/WebhookPayload'

  /api/v2/developers/webhooks/{webhookId}/logs:
    get:
      tags: [Webhooks]
      summary: Get delivery logs
      operationId: getWebhookLogs
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookDeliveryLog'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

  # ============================================================================
  # ANALYTICS
  # ============================================================================
  /api/v1/developers/analytics/overview:
    get:
      tags: [Analytics]
      summary: Get overview
      description: Dashboard summary with comparison to previous period.
      operationId: getAnalyticsOverview
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  overview:
                    $ref: '#/components/schemas/AnalyticsOverview'

  /api/v1/developers/analytics/usage:
    get:
      tags: [Analytics]
      summary: Get usage over time
      operationId: getUsageOverTime
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  usage:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageDataPoint'

  /api/v1/developers/analytics/personas:
    get:
      tags: [Analytics]
      summary: Get persona usage
      operationId: getPersonaUsage
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  personas:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonaUsageStats'

  /api/v1/developers/analytics/errors:
    get:
      tags: [Analytics]
      summary: Get error breakdown
      operationId: getErrorBreakdown
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBreakdown'

  # ============================================================================
  # MCP SERVERS (v2)
  # ============================================================================
  /api/v2/developers/mcp-servers:
    get:
      tags: [MCP Servers]
      summary: List MCP servers
      operationId: listMCPServers
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MCPServer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [MCP Servers]
      summary: Register MCP server
      description: |
        Register an external MCP server to extend your personas with custom tools.
        
        **Transport Types:**
        - `http` - HTTP-based MCP server (most common)
        - `websocket` - WebSocket-based MCP server
        - `stdio` - Process-based MCP server (spawns a command)
      operationId: createMCPServer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMCPServerInput'
            example:
              name: My CRM Tools
              description: Tools for CRM integration
              transport: http
              endpoint: https://my-mcp-server.example.com
              autoConnect: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/MCPServer'

  /api/v2/developers/mcp-servers/{serverId}:
    get:
      tags: [MCP Servers]
      summary: Get MCP server
      operationId: getMCPServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/MCPServer'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [MCP Servers]
      summary: Update MCP server
      operationId: updateMCPServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMCPServerInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/MCPServer'

    delete:
      tags: [MCP Servers]
      summary: Delete MCP server
      operationId: deleteMCPServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/mcp-servers/{serverId}/test:
    post:
      tags: [MCP Servers]
      summary: Test MCP server connection
      description: Tests the connection to the MCP server and discovers available tools.
      operationId: testMCPServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/MCPServerTestResult'

  /api/v2/developers/mcp-servers/{serverId}/tools:
    get:
      tags: [MCP Servers]
      summary: List server tools
      description: Returns the list of tools available on the MCP server.
      operationId: getMCPServerTools
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tools list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      tools:
                        type: array
                        items:
                          type: string

  # ============================================================================
  # CUSTOM TOOLS (v2)
  # ============================================================================
  /api/v2/developers/tools:
    get:
      tags: [Custom Tools]
      summary: List custom tools
      operationId: listTools
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomTool'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Custom Tools]
      summary: Create custom tool
      description: |
        Create a custom tool that can be used by your personas.
        
        **Execution Types:**
        - `webhook` - Calls an external HTTP endpoint
        - `mcp` - Calls a tool on a registered MCP server
        - `prompt` - Executes an LLM prompt
      operationId: createTool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CustomTool'

  /api/v2/developers/tools/{toolId}:
    get:
      tags: [Custom Tools]
      summary: Get custom tool
      operationId: getTool
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CustomTool'

    put:
      tags: [Custom Tools]
      summary: Update custom tool
      operationId: updateTool
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateToolInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CustomTool'

    delete:
      tags: [Custom Tools]
      summary: Delete custom tool
      operationId: deleteTool
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/tools/{toolId}/test:
    post:
      tags: [Custom Tools]
      summary: Test custom tool
      operationId: testTool
      parameters:
        - name: toolId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Test input parameters
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ToolTestResult'

  # ============================================================================
  # ACTIVITIES (v2)
  # ============================================================================
  /api/v2/developers/activities:
    get:
      tags: [Activities]
      summary: List activities
      operationId: listActivities
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [started, completed, failed]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Activities]
      summary: Create activity
      operationId: createActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActivityInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Activity'

  /api/v2/developers/activities/stats:
    get:
      tags: [Activities]
      summary: Get activity statistics
      operationId: getActivityStats
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ActivityStats'

  /api/v2/developers/activities/{activityId}:
    get:
      tags: [Activities]
      summary: Get activity
      operationId: getActivity
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Activity'

    put:
      tags: [Activities]
      summary: Update activity
      operationId: updateActivity
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivityInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Activity'

    delete:
      tags: [Activities]
      summary: Delete activity
      operationId: deleteActivity
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  # ============================================================================
  # WORKFLOWS (v2)
  # ============================================================================
  /api/v2/developers/workflows:
    get:
      tags: [Workflows]
      summary: List workflows
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Workflows]
      summary: Create workflow
      description: |
        Create a multi-step automation workflow with DAG structure.
        
        **Trigger Types:**
        - `voice_command` - Triggered by voice command
        - `tool_call` - Triggered when a tool is called
        - `schedule` - Triggered on a schedule (cron)
        - `event` - Triggered by an event
        - `api` - Triggered via API call
      operationId: createWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Workflow'

  /api/v2/developers/workflows/{workflowId}:
    get:
      tags: [Workflows]
      summary: Get workflow
      operationId: getWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Workflow'

    put:
      tags: [Workflows]
      summary: Update workflow
      operationId: updateWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Workflow'

    delete:
      tags: [Workflows]
      summary: Delete workflow
      operationId: deleteWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/workflows/{workflowId}/execute:
    post:
      tags: [Workflows]
      summary: Execute workflow
      operationId: executeWorkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Execution context and initial variables
      responses:
        '200':
          description: Execution started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/WorkflowExecution'

  /api/v2/developers/workflows/{workflowId}/executions:
    get:
      tags: [Workflows]
      summary: List workflow executions
      operationId: listWorkflowExecutions
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowExecution'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # ============================================================================
  # OAUTH (v2)
  # ============================================================================
  /api/v2/developers/oauth/providers:
    get:
      tags: [OAuth]
      summary: List OAuth providers
      operationId: listOAuthProviders
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthProvider'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [OAuth]
      summary: Register OAuth provider
      description: Register an OAuth provider for BYOC (Bring Your Own Credentials) pattern.
      operationId: createOAuthProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOAuthProviderInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/OAuthProvider'

  /api/v2/developers/oauth/providers/{providerId}:
    get:
      tags: [OAuth]
      summary: Get OAuth provider
      operationId: getOAuthProvider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/OAuthProvider'

    put:
      tags: [OAuth]
      summary: Update OAuth provider
      operationId: updateOAuthProvider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOAuthProviderInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/OAuthProvider'

    delete:
      tags: [OAuth]
      summary: Delete OAuth provider
      operationId: deleteOAuthProvider
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/oauth/authorize:
    post:
      tags: [OAuth]
      summary: Start OAuth flow
      description: Initiates the OAuth authorization flow and returns the authorization URL.
      operationId: authorizeOAuth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [providerId, redirectUri]
              properties:
                providerId:
                  type: string
                redirectUri:
                  type: string
                  format: uri
      responses:
        '200':
          description: Authorization URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      authorizationUrl:
                        type: string
                        format: uri
                      state:
                        type: string

  /api/v2/developers/oauth/tokens:
    get:
      tags: [OAuth]
      summary: List OAuth tokens
      operationId: listOAuthTokens
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
        - name: providerId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthToken'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /api/v2/developers/oauth/tokens/{tokenId}/access:
    get:
      tags: [OAuth]
      summary: Get access token
      description: Returns the access token, auto-refreshing if expired.
      operationId: getOAuthAccessToken
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      expiresAt:
                        type: string
                        format: date-time

  /api/v2/developers/oauth/tokens/{tokenId}:
    delete:
      tags: [OAuth]
      summary: Revoke OAuth token
      operationId: revokeOAuthToken
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      revoked:
                        type: boolean

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string

    Pagination:
      type: object
      properties:
        limit:
          type: integer
        nextCursor:
          type: string
        hasMore:
          type: boolean

    ApiKeyInfo:
      type: object
      properties:
        id:
          type: string
        keyPrefix:
          type: string
        type:
          type: string
          enum: [live, test]
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time

    PersonaSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        tagline:
          type: string
        category:
          type: string
        status:
          $ref: '#/components/schemas/PersonaStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PersonaFull:
      allOf:
        - $ref: '#/components/schemas/PersonaSummary'
        - type: object
          properties:
            manifest:
              $ref: '#/components/schemas/PersonaManifest'
            validationErrors:
              type: array
              items:
                type: string
            rejectionReason:
              type: string

    PersonaManifest:
      type: object
      required: [identity, voice, personality, knowledge]
      properties:
        identity:
          type: object
          required: [id, name, tagline]
          properties:
            id:
              type: string
              pattern: '^[a-z0-9-]+$'
            name:
              type: string
              maxLength: 50
            tagline:
              type: string
              minLength: 10
            description:
              type: string
            aliases:
              type: array
              items:
                type: string
        voice:
          type: object
          required: [provider, voice_id]
          properties:
            provider:
              type: string
              enum: [cartesia]
            voice_id:
              type: string
            name:
              type: string
        personality:
          type: object
          required: [warmth, humor_level, directness, formality, traits]
          properties:
            warmth:
              type: number
              minimum: 0
              maximum: 1
            humor_level:
              type: number
              minimum: 0
              maximum: 1
            directness:
              type: number
              minimum: 0
              maximum: 1
            formality:
              type: number
              minimum: 0
              maximum: 1
            traits:
              type: array
              minItems: 2
              items:
                type: string
        knowledge:
          type: object
          required: [category, domains]
          properties:
            category:
              type: string
            domains:
              type: array
              minItems: 1
              items:
                type: string
            expertise_tags:
              type: array
              items:
                type: string
        behaviors:
          type: object
          properties:
            greetings:
              type: array
              items:
                type: string
            backchannels:
              type: array
              items:
                type: string
            thinking_sounds:
              type: array
              items:
                type: string

    PersonaStatus:
      type: string
      enum: [draft, validating, submitted, approved, rejected, published]

    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string

    Webhook:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        secret:
          type: string
        enabled:
          type: boolean
        failureCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        lastDeliveredAt:
          type: string
          format: date-time

    WebhookEventType:
      type: string
      enum:
        - session.started
        - session.ended
        - session.error
        - persona.switched
        - tool.executed
        - transcript.ready

    WebhookPayload:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/WebhookEventType'
        timestamp:
          type: string
          format: date-time
        publisherId:
          type: string
        data:
          type: object

    WebhookDeliveryLog:
      type: object
      properties:
        id:
          type: string
        webhookId:
          type: string
        eventId:
          type: string
        eventType:
          $ref: '#/components/schemas/WebhookEventType'
        statusCode:
          type: integer
        success:
          type: boolean
        error:
          type: string
        executionTimeMs:
          type: integer
        attempt:
          type: integer
        createdAt:
          type: string
          format: date-time

    AnalyticsOverview:
      type: object
      properties:
        totalApiCalls:
          type: integer
        totalApiCallsChange:
          type: integer
        activePersonas:
          type: integer
        activePersonasChange:
          type: integer
        uniqueUsers:
          type: integer
        uniqueUsersChange:
          type: integer
        errorRate:
          type: number
        errorRateChange:
          type: integer
        avgResponseTime:
          type: integer
        avgResponseTimeChange:
          type: integer

    UsageDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        apiCalls:
          type: integer
        uniqueUsers:
          type: integer
        errors:
          type: integer

    PersonaUsageStats:
      type: object
      properties:
        personaId:
          type: string
        personaName:
          type: string
        totalCalls:
          type: integer
        avgSessionDuration:
          type: integer
        uniqueUsers:
          type: integer

    ErrorBreakdown:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        count:
          type: integer
        lastOccurred:
          type: string
          format: date-time

    # MCP Server schemas
    MCPServer:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        name:
          type: string
        description:
          type: string
        transport:
          $ref: '#/components/schemas/MCPTransport'
        command:
          type: string
        args:
          type: array
          items:
            type: string
        endpoint:
          type: string
          format: uri
        headers:
          type: object
          additionalProperties:
            type: string
        hasSecrets:
          type: boolean
        autoConnect:
          type: boolean
        enabled:
          type: boolean
        timeout:
          type: integer
        status:
          $ref: '#/components/schemas/MCPServerStatus'
        toolCount:
          type: integer
        lastConnected:
          type: string
          format: date-time
        lastError:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    MCPTransport:
      type: string
      enum: [http, websocket, stdio]

    MCPServerStatus:
      type: string
      enum: [active, error, disabled]

    CreateMCPServerInput:
      type: object
      required: [name, description, transport]
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        transport:
          $ref: '#/components/schemas/MCPTransport'
        command:
          type: string
          description: Command for stdio transport
        args:
          type: array
          items:
            type: string
        endpoint:
          type: string
          format: uri
          description: URL for http/websocket transport
        headers:
          type: object
          additionalProperties:
            type: string
        secrets:
          type: object
          additionalProperties:
            type: string
          description: Encrypted secrets (API keys, etc.)
        autoConnect:
          type: boolean
          default: true
        enabled:
          type: boolean
          default: true
        timeout:
          type: integer
          description: Connection timeout in milliseconds
        personaId:
          type: string

    UpdateMCPServerInput:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        transport:
          $ref: '#/components/schemas/MCPTransport'
        command:
          type: string
        args:
          type: array
          items:
            type: string
        endpoint:
          type: string
          format: uri
        headers:
          type: object
          additionalProperties:
            type: string
        secrets:
          type: object
          additionalProperties:
            type: string
        autoConnect:
          type: boolean
        enabled:
          type: boolean
        timeout:
          type: integer

    MCPServerTestResult:
      type: object
      properties:
        success:
          type: boolean
        connected:
          type: boolean
        tools:
          type: array
          items:
            type: string
        error:
          type: string
        latencyMs:
          type: integer

    # Custom Tool schemas
    CustomTool:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        llmDescription:
          type: string
        type:
          $ref: '#/components/schemas/ToolExecutionType'
        config:
          $ref: '#/components/schemas/ToolConfig'
        parameters:
          type: object
          description: JSON Schema for input parameters
        returns:
          type: object
          description: JSON Schema for return value
        enabled:
          type: boolean
        requiresAuth:
          type: boolean
        version:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ToolExecutionType:
      type: string
      enum: [webhook, mcp, prompt]

    ToolConfig:
      type: object
      properties:
        url:
          type: string
          format: uri
        method:
          type: string
          enum: [GET, POST, PUT, DELETE]
        headers:
          type: object
          additionalProperties:
            type: string
        serverId:
          type: string
        toolName:
          type: string
        prompt:
          type: string

    CreateToolInput:
      type: object
      required: [name, displayName, description, llmDescription, type, config, parameters]
      properties:
        name:
          type: string
          pattern: '^[a-z0-9-]+$'
        displayName:
          type: string
        description:
          type: string
        llmDescription:
          type: string
        type:
          $ref: '#/components/schemas/ToolExecutionType'
        config:
          $ref: '#/components/schemas/ToolConfig'
        parameters:
          type: object
        returns:
          type: object
        enabled:
          type: boolean
          default: true
        requiresAuth:
          type: boolean
          default: false
        version:
          type: string
          default: "1.0.0"
        personaId:
          type: string

    UpdateToolInput:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        llmDescription:
          type: string
        type:
          $ref: '#/components/schemas/ToolExecutionType'
        config:
          $ref: '#/components/schemas/ToolConfig'
        parameters:
          type: object
        returns:
          type: object
        enabled:
          type: boolean
        requiresAuth:
          type: boolean
        version:
          type: string

    ToolTestResult:
      type: object
      properties:
        success:
          type: boolean
        result:
          type: object
        error:
          type: string
        executionTimeMs:
          type: integer

    # Activity schemas
    Activity:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        userId:
          type: string
        sessionId:
          type: string
        type:
          type: string
        name:
          type: string
        data:
          type: object
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in milliseconds
        status:
          $ref: '#/components/schemas/ActivityStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ActivityStatus:
      type: string
      enum: [started, completed, failed]

    CreateActivityInput:
      type: object
      required: [type, name]
      properties:
        type:
          type: string
        name:
          type: string
        data:
          type: object
        status:
          $ref: '#/components/schemas/ActivityStatus'
        personaId:
          type: string
        userId:
          type: string
        sessionId:
          type: string

    UpdateActivityInput:
      type: object
      properties:
        data:
          type: object
        status:
          $ref: '#/components/schemas/ActivityStatus'
        completedAt:
          type: string
          format: date-time

    ActivityStats:
      type: object
      properties:
        totalCount:
          type: integer
        byType:
          type: object
          additionalProperties:
            type: integer
        byStatus:
          type: object
          properties:
            started:
              type: integer
            completed:
              type: integer
            failed:
              type: integer
        averageDurationMs:
          type: integer

    # Workflow schemas
    Workflow:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        name:
          type: string
        description:
          type: string
        version:
          type: string
        trigger:
          $ref: '#/components/schemas/WorkflowTrigger'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEdge'
        entryNodeId:
          type: string
        exitNodeIds:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        timeout:
          type: integer
        retryPolicy:
          $ref: '#/components/schemas/WorkflowRetryPolicy'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkflowTrigger:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/WorkflowTriggerType'
        config:
          type: object
          properties:
            command:
              type: string
            toolName:
              type: string
            schedule:
              type: string
            eventType:
              type: string

    WorkflowTriggerType:
      type: string
      enum: [voice_command, tool_call, schedule, event, api]

    WorkflowNode:
      type: object
      required: [id, name, type, config]
      properties:
        id:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/WorkflowNodeType'
        config:
          type: object
        position:
          type: object
          properties:
            x:
              type: number
            y:
              type: number

    WorkflowNodeType:
      type: string
      enum: [start, end, mcp_call, webhook, llm_prompt, condition, parallel, join, wait, set_variable, activity, sub_workflow]

    WorkflowEdge:
      type: object
      required: [id, sourceId, targetId]
      properties:
        id:
          type: string
        sourceId:
          type: string
        targetId:
          type: string
        label:
          type: string
        condition:
          type: string

    WorkflowRetryPolicy:
      type: object
      properties:
        maxAttempts:
          type: integer
          default: 3
        backoffMs:
          type: integer
          default: 1000
        backoffMultiplier:
          type: number
          default: 2

    CreateWorkflowInput:
      type: object
      required: [name, description, trigger, nodes, edges, entryNodeId]
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
          default: "1.0.0"
        trigger:
          $ref: '#/components/schemas/WorkflowTrigger'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEdge'
        entryNodeId:
          type: string
        exitNodeIds:
          type: array
          items:
            type: string
        enabled:
          type: boolean
          default: true
        timeout:
          type: integer
        retryPolicy:
          $ref: '#/components/schemas/WorkflowRetryPolicy'
        personaId:
          type: string

    UpdateWorkflowInput:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        trigger:
          $ref: '#/components/schemas/WorkflowTrigger'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEdge'
        entryNodeId:
          type: string
        exitNodeIds:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        timeout:
          type: integer
        retryPolicy:
          $ref: '#/components/schemas/WorkflowRetryPolicy'

    WorkflowExecution:
      type: object
      properties:
        id:
          type: string
        workflowId:
          type: string
        publisherId:
          type: string
        userId:
          type: string
        sessionId:
          type: string
        triggeredBy:
          type: string
          enum: [voice, api, schedule, event]
        status:
          $ref: '#/components/schemas/WorkflowExecutionStatus'
        currentNodeIds:
          type: array
          items:
            type: string
        completedNodeIds:
          type: array
          items:
            type: string
        variables:
          type: object
        result:
          type: object
        error:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    WorkflowExecutionStatus:
      type: string
      enum: [running, completed, failed, cancelled]

    # OAuth schemas
    OAuthProvider:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        name:
          type: string
        authorizationUrl:
          type: string
          format: uri
        tokenUrl:
          type: string
          format: uri
        clientId:
          type: string
        scopes:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateOAuthProviderInput:
      type: object
      required: [name, authorizationUrl, tokenUrl, clientId, clientSecret, scopes]
      properties:
        name:
          type: string
        authorizationUrl:
          type: string
          format: uri
        tokenUrl:
          type: string
          format: uri
        clientId:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string
        enabled:
          type: boolean
          default: true

    UpdateOAuthProviderInput:
      type: object
      properties:
        name:
          type: string
        authorizationUrl:
          type: string
          format: uri
        tokenUrl:
          type: string
          format: uri
        clientId:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string
        enabled:
          type: boolean

    OAuthToken:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        providerId:
          type: string
        userId:
          type: string
        expiresAt:
          type: string
          format: date-time
        scopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
