openapi: 3.0.3
info:
  title: Ferni Developer Platform API
  description: |
    Build AI-powered voice experiences with human-like conversational capabilities.
    Create custom personas, manage API access, configure webhooks, and monitor usage.

    ## Getting Started

    1. Sign up at [developers.ferni.ai](https://developers.ferni.ai)
    2. Create a test API key in the dashboard
    3. Make your first API call
    4. Create a persona and submit for review
    5. Upgrade to live API key for production

    ## Authentication

    Include your API key as a Bearer token:
    ```
    Authorization: Bearer ferni_live_xxxxxxxxxxxxx
    ```

    ### Key Types
    | Type | Prefix | Usage |
    |------|--------|-------|
    | Live | `ferni_live_` | Production, billed |
    | Test | `ferni_test_` | Development, free tier |

    ## Rate Limits
    | Tier | Requests/min | Sessions |
    |------|--------------|----------|
    | Free | 100 | 5 |
    | Pro | 500 | 25 |
    | Enterprise | Custom | Custom |

    ## Webhook Signatures

    Verify webhook authenticity using HMAC-SHA256:
    ```
    signature = HMAC-SHA256(secret, timestamp + "." + payload)
    ```

    Header format: `X-Webhook-Signature: t=1234567890,v1=abc123...`

  version: 2.0.0
  contact:
    name: Ferni Developer Support
    email: developers@ferni.ai
    url: https://developers.ferni.ai
  license:
    name: Proprietary

servers:
  - url: https://api.ferni.ai
    description: Production
  - url: https://api-staging.ferni.ai
    description: Staging

tags:
  - name: API Keys
    description: Manage API keys for authentication
  - name: Personas
    description: Create and manage AI personas
  - name: Webhooks
    description: Real-time event notifications
  - name: Analytics
    description: Usage statistics and insights

security:
  - bearerAuth: []

paths:
  # ============================================================================
  # API KEYS
  # ============================================================================
  /api/v1/developers/keys:
    get:
      tags: [API Keys]
      summary: List API keys
      description: Returns all API keys (prefix only for security).
      operationId: listApiKeys
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeyInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [API Keys]
      summary: Create API key
      description: |
        Creates a new API key. The full key is only shown once.
        Maximum 10 keys per account.
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  enum: [live, test]
                name:
                  type: string
                  maxLength: 100
            example:
              type: live
              name: Production App
      responses:
        '201':
          description: Key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  key:
                    type: object
                    properties:
                      id:
                        type: string
                      apiKey:
                        type: string
                        description: Full key - save now!
                      type:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                  warning:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/developers/keys/{keyId}:
    delete:
      tags: [API Keys]
      summary: Revoke API key
      operationId: revokeApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/developers/keys/{keyId}/rotate:
    post:
      tags: [API Keys]
      summary: Rotate API key
      description: Revokes old key and generates new one.
      operationId: rotateApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  key:
                    type: object
                    properties:
                      id:
                        type: string
                      apiKey:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                  warning:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PERSONAS
  # ============================================================================
  /api/v1/developers/personas:
    get:
      tags: [Personas]
      summary: List personas
      operationId: listPersonas
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  personas:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonaSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Personas]
      summary: Create persona draft
      description: |
        Creates a persona draft. Must pass validation before submission.

        **Lifecycle:** draft -> submitted -> approved -> published
      operationId: createPersona
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manifest]
              properties:
                manifest:
                  $ref: '#/components/schemas/PersonaManifest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/developers/personas/{personaId}:
    get:
      tags: [Personas]
      summary: Get persona details
      operationId: getPersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaFull'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Personas]
      summary: Update persona
      description: Only drafts and rejected personas can be updated.
      operationId: updatePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manifest]
              properties:
                manifest:
                  $ref: '#/components/schemas/PersonaManifest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Personas]
      summary: Delete persona
      description: Only drafts can be deleted.
      operationId: deletePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/developers/personas/{personaId}/validate:
    post:
      tags: [Personas]
      summary: Validate persona
      operationId: validatePersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  validation:
                    $ref: '#/components/schemas/ValidationResult'
                  readyToSubmit:
                    type: boolean

  /api/v1/developers/personas/{personaId}/submit:
    post:
      tags: [Personas]
      summary: Submit for review
      operationId: submitPersona
      parameters:
        - name: personaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  persona:
                    $ref: '#/components/schemas/PersonaSummary'

  # ============================================================================
  # WEBHOOKS
  # ============================================================================
  /api/v2/developers/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Webhooks]
      summary: Create webhook
      description: |
        **Event Types:**
        - `session.started` - Voice session began
        - `session.ended` - Session completed
        - `session.error` - Error occurred
        - `persona.switched` - Persona handoff
        - `tool.executed` - Tool was called
        - `transcript.ready` - Transcript available
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, events]
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEventType'
                personaId:
                  type: string
                enabled:
                  type: boolean
                  default: true
            example:
              name: Session Events
              url: https://api.yourapp.com/webhooks/ferni
              events: [session.started, session.ended]
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'

  /api/v2/developers/webhooks/{webhookId}:
    get:
      tags: [Webhooks]
      summary: Get webhook
      operationId: getWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Webhooks]
      summary: Update webhook
      operationId: updateWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEventType'
                enabled:
                  type: boolean
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'

    delete:
      tags: [Webhooks]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean

  /api/v2/developers/webhooks/{webhookId}/test:
    post:
      tags: [Webhooks]
      summary: Send test event
      operationId: testWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      statusCode:
                        type: integer
                      executionTimeMs:
                        type: integer
                      error:
                        type: string
                      payload:
                        $ref: '#/components/schemas/WebhookPayload'

  /api/v2/developers/webhooks/{webhookId}/logs:
    get:
      tags: [Webhooks]
      summary: Get delivery logs
      operationId: getWebhookLogs
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookDeliveryLog'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

  # ============================================================================
  # ANALYTICS
  # ============================================================================
  /api/v1/developers/analytics/overview:
    get:
      tags: [Analytics]
      summary: Get overview
      description: Dashboard summary with comparison to previous period.
      operationId: getAnalyticsOverview
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  overview:
                    $ref: '#/components/schemas/AnalyticsOverview'

  /api/v1/developers/analytics/usage:
    get:
      tags: [Analytics]
      summary: Get usage over time
      operationId: getUsageOverTime
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  usage:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageDataPoint'

  /api/v1/developers/analytics/personas:
    get:
      tags: [Analytics]
      summary: Get persona usage
      operationId: getPersonaUsage
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  personas:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonaUsageStats'

  /api/v1/developers/analytics/errors:
    get:
      tags: [Analytics]
      summary: Get error breakdown
      operationId: getErrorBreakdown
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  period:
                    type: string
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorBreakdown'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string

    Pagination:
      type: object
      properties:
        limit:
          type: integer
        nextCursor:
          type: string
        hasMore:
          type: boolean

    ApiKeyInfo:
      type: object
      properties:
        id:
          type: string
        keyPrefix:
          type: string
        type:
          type: string
          enum: [live, test]
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time

    PersonaSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        tagline:
          type: string
        category:
          type: string
        status:
          $ref: '#/components/schemas/PersonaStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PersonaFull:
      allOf:
        - $ref: '#/components/schemas/PersonaSummary'
        - type: object
          properties:
            manifest:
              $ref: '#/components/schemas/PersonaManifest'
            validationErrors:
              type: array
              items:
                type: string
            rejectionReason:
              type: string

    PersonaManifest:
      type: object
      required: [identity, voice, personality, knowledge]
      properties:
        identity:
          type: object
          required: [id, name, tagline]
          properties:
            id:
              type: string
              pattern: '^[a-z0-9-]+$'
            name:
              type: string
              maxLength: 50
            tagline:
              type: string
              minLength: 10
            description:
              type: string
            aliases:
              type: array
              items:
                type: string
        voice:
          type: object
          required: [provider, voice_id]
          properties:
            provider:
              type: string
              enum: [cartesia]
            voice_id:
              type: string
            name:
              type: string
        personality:
          type: object
          required: [warmth, humor_level, directness, formality, traits]
          properties:
            warmth:
              type: number
              minimum: 0
              maximum: 1
            humor_level:
              type: number
              minimum: 0
              maximum: 1
            directness:
              type: number
              minimum: 0
              maximum: 1
            formality:
              type: number
              minimum: 0
              maximum: 1
            traits:
              type: array
              minItems: 2
              items:
                type: string
        knowledge:
          type: object
          required: [category, domains]
          properties:
            category:
              type: string
            domains:
              type: array
              minItems: 1
              items:
                type: string
            expertise_tags:
              type: array
              items:
                type: string
        behaviors:
          type: object
          properties:
            greetings:
              type: array
              items:
                type: string
            backchannels:
              type: array
              items:
                type: string
            thinking_sounds:
              type: array
              items:
                type: string

    PersonaStatus:
      type: string
      enum: [draft, validating, submitted, approved, rejected, published]

    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string

    Webhook:
      type: object
      properties:
        id:
          type: string
        publisherId:
          type: string
        personaId:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        secret:
          type: string
        enabled:
          type: boolean
        failureCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        lastDeliveredAt:
          type: string
          format: date-time

    WebhookEventType:
      type: string
      enum:
        - session.started
        - session.ended
        - session.error
        - persona.switched
        - tool.executed
        - transcript.ready

    WebhookPayload:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/WebhookEventType'
        timestamp:
          type: string
          format: date-time
        publisherId:
          type: string
        data:
          type: object

    WebhookDeliveryLog:
      type: object
      properties:
        id:
          type: string
        webhookId:
          type: string
        eventId:
          type: string
        eventType:
          $ref: '#/components/schemas/WebhookEventType'
        statusCode:
          type: integer
        success:
          type: boolean
        error:
          type: string
        executionTimeMs:
          type: integer
        attempt:
          type: integer
        createdAt:
          type: string
          format: date-time

    AnalyticsOverview:
      type: object
      properties:
        totalApiCalls:
          type: integer
        totalApiCallsChange:
          type: integer
        activePersonas:
          type: integer
        activePersonasChange:
          type: integer
        uniqueUsers:
          type: integer
        uniqueUsersChange:
          type: integer
        errorRate:
          type: number
        errorRateChange:
          type: integer
        avgResponseTime:
          type: integer
        avgResponseTimeChange:
          type: integer

    UsageDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        apiCalls:
          type: integer
        uniqueUsers:
          type: integer
        errors:
          type: integer

    PersonaUsageStats:
      type: object
      properties:
        personaId:
          type: string
        personaName:
          type: string
        totalCalls:
          type: integer
        avgSessionDuration:
          type: integer
        uniqueUsers:
          type: integer

    ErrorBreakdown:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        count:
          type: integer
        lastOccurred:
          type: string
          format: date-time
